@{
    ViewData["Title"] = "Lost Cities";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <button id="btnNewGame">New game</button>


    <div id="dGameField">
        
    </div>

</div>
